.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #FF4B2B;
  border: 1px solid #FF4B2B;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
